Icon?

#Generated Doc
meta/documentation/generated/

#Mac OSX file
.DS_Store

#XCode file
*.swp
*~.nib
*.xcworkspace/
xcuserdata/

build

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3
*.mpkg
*.framework
*.orig

#Windows file
Thumbs.db

#Visual Studio file
Debug
Release
*.suo
*.ncb

*.user
#*.csproj.user
#/obj/*
#/bin/*


#vim-style save file
*~

#SVN repo add to our project
.svn

*.abc
*.o

libraries/*
!libraries/*.desc
BaconBox/Special/Flash/BaconBox.swc
BaconBox/Special/Flash/BaconBoxAS3.as3
BaconBox/Special/Flash/BaconBoxAS3.as
BaconBox/Special/Flash/BaconBoxAS3.cpp
BaconBox/Special/Flash/temp.swc
dist
BaconBox/Special/Flash/BaconBox.as
BaconBox/Special/Flash/BaconBox.as3
BaconBox/Special/Flash/BaconBox.cpp
BaconBoxLua.cpp
LSOBackingStore.as
*.a
ide/windows/CodeBlocks/BaconBox.depend
ide/windows/CodeBlocks/BaconBox.layout
